body{
    min-height: 2000px;
    max-width: 1320px;
    margin: 0 auto;
}
.title-repo{
    display: block;
margin: 30px auto;
text-align: center;
margin: 20px;
border-bottom: 1px solid grey;
border-top: 1px solid grey;
max-width:1320px ;
display: block;
margin: 30px auto;
color: #17a2b8;
}
.product-title{
    margin: 20px;
    border-bottom: 1px solid grey;
    max-width: 1320px ;
    color: #17a2b8;
}
.wp-form{
    display: flex;
    flex-direction:column;
    
}
.wp-item{
margin: 10px 10px;
}
.name-form{
    min-width: 100px;
}
.input-product{
    width: 300px;
    outline: none;
    height: 2rem;
    border: 1px solid gainsboro;
}

.button-product {
    width: 120px;
    margin: 30px 0 ;
    height: 35px;
    border: none;
    background-color: #17a2b8;
    border-radius: 5px;
    color: #f8f9fa;
}
.main-prd{
    width: 500px;
    background-color: #f8f9fa;
    padding: 16px;
    margin: 10px  50px;
    border-radius: 12px;
    
    
}
.file-img{
    margin: 20px auto 0 auto;
}
/* ____________________navigation */
.wp-repoProduct{
    display: flex;
    max-width: 1320px;
}
.wp-nav{
    display: flex;
    flex-direction: column;
    width: 20%;
    border-right: 1px solid grey; 
}
@media only screen and(max-width: 768px ) {
    .display-img{
        display: none;
        
    }
    body{
        color: #17a2b8;
    }
}
.repo-product{
    margin: 20px auto 10px 20px;
    text-decoration: none;
    color: #333;
}
.repo-product:hover{
    color: #17a2b8;
}
.display-img{
    width: 250px;
    height: 280px;
    margin: 20px auto auto 20px ;
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 10px;
}
.title-img{
    text-align: center;
    line-height: 20px;
    border-bottom:1px solid  #ced4da ;
}
.diplay-img__prd{
    width: 180px;
    height: 210px;
    display: block;
    margin: 0 auto;
   
}
.wp-form-img{
    display: flex;

}
.wp-table{
    margin: 20px 10px;
}
.tableInContainer{
    width: 100%;

}
table, th, td{
    border: 1px solid grey;
    border-collapse: collapse ;
}
th, td {  
    padding: 10px; 
}
 th {
    background-color: #17a2b8;
    color: white;
}
 tr:nth-child(odd){
    background-color: #0dcaf0;
    color: white;
}
.diplay-img__prd-table{
    width: 100px;
}
.btn-edit,
.btn-delete,
.btn-btn-edit{
    background-color: #17a2b8;
    color: #f8f9fa;
    border: none;
    border-radius: 2px;
}
.button:hover{
    opacity: 0.6;
}