.title-repo{
    display: block;
margin: 30px auto;
text-align: center;
margin: 20px;
border-bottom: 1px solid grey;
}
.product-title{
    margin: 20px;
    border-bottom: 1px solid grey;
}
.wp-form{
    display: flex;
    flex-direction:column;
    
}
.wp-item{
margin: 10px 10px;
}
.name-form{
    min-width: 100px;
}
.input-product{
    width: 300px;
    outline: none;
    height: 2rem;
    border: 1px solid gainsboro;
}
.button-product {
    width: 120px;
    margin: 30px 0 ;
}
.main-prd{
    width: 500px;
    background-color: #f8f9fa;
    padding: 16px;
    margin: 10px  50px;
    border-radius: 12px;
    
}
.file-img{
    margin: 20px auto 0 auto;
}