.main {
    background-color: #f8f9fa;
    padding: 16px;
    gap: 20px;
    max-width: 1320px;
    margin: 0 auto;
}
.row {
    gap: 20px;
}
.main-left {
    background-color: white;
    padding: 10px;
    border-radius: 8px;

}
.wp-bag {
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #dadada;

}
.product-left {
    display: flex;
}
.product-img__addmin {
    width: 100px;
}
.wp-quantity {
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}
.conainer-product {
    position: relative;
    display: grid;
    grid-template-columns: 50% 30% 10%;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    width: 40%;
    border: 1px solid #dadada;
    border-radius: 6px;
    width: 600px;
}
.product-bag {
    display: flex;
    margin-left: 10px;

}
.img-bag {
    width: 100px;
    margin-right: 20px
}

.name-product {
    font-size: 20px;
    font-weight: 500;
}
.bag-button-wp {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bag-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bag-button {
    width: 35px;
    height: 35px;

}
/* _____toast____________ */
.toast-wp{
    display: none;
    position: absolute;
    top: -20px;
    right: -210px;
 width: 200px;
 height: 110px;
 border-radius: 5px;
 border: 1px solid #dadada;
 padding: 15px;
 font-size: 16px;

}
.wp-button{
    margin-top: 10px;
    display: flex;
   
    flex-direction: row;
    justify-content: space-between;
}
.btn-agree,
.btn-disagree{
  
    height: 27px;
    margin-right: 10px ;
    background-color: #17a2b8;
    border: none;
    border-radius: 5px;
    color:#f8f9fa ;
}
.btn-agree:hover,
.btn-disagree:hover{
    opacity: 0.6;
}