/* phần header */

.title-logo {
    font-weight: 500;
    white-space: nowrap;
}
.header-wapper__logo {
    width: 100px;
   

}
.header-wapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 120px;
}
.header-nav {
    width: 500px;
}
.header-nav__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
}
.header-nav__item {
    list-style: none;
}
.header-nav__link {
    text-decoration: none;
    color: #333;
    font-weight: 400;
}
.header__right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}
.header__wpSearch {
    display: flex;
    width: 230px;
}
.header__search {
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
}
.fa-regular,
.fa-solid{
    color: black;
}
.fa-regular:hover,
.fa-solid:hover{
    color: blue;
}
.fa-solid,
.fa-regular {
    margin: auto 12px;
    font-size: 25px;
}
.banner {
    width: 100%;
}
.header__text {
    text-align: center;
    margin: 20px 150px;
    font-size: 20px;
    word-spacing: 5px;
    line-height: 35px;
    opacity: 0.6;
}
/* phân body */
.main {
    margin: 20px;
}
.wpProduct{
    display: grid;
    grid-template-columns:25% 25% 25% 25%;
    gap:20px
}
@media only screen and (max-width: 768px) {
    .wpProduct{
        grid-template-columns:25% 25% 25% ;
    }
    .header__text{
        display: flex;
        overflow-x: scroll;
        margin: 20px 80px;
    }

}
.product-cart {
    border-radius: 10px

}
.product-img {
    width: 100%;
    border-radius: 10px;
}
.product-name {
    font-size: 20px;
    overflow: hidden;
}
.product-info {
    padding: 10px;
}
.product-info-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px auto;
}
.product-price {
    font-size: 25px;
}
.product-buy {
    width: 60px;
    height: 50px;
    border-radius: 8px;
    border: 1px solid gray;
}
.product-buy:hover{
    background-color: #17a2b8;
    color: white  ;
}
/* phần-giỏ hàng */
.main{
    background-color: #f8f9fa;
    padding: 16px;
    
    gap: 20px;
 

}
.row{
    gap: 20px;
}
.main-left{
    background-color: white;
    padding: 10px;
    border-radius: 8px;
   
}
.wp-bag{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #dadada;

}
.product-left{
    display: flex;
}
.product-img__addmin{
 width: 100px;
}
.wp-quantity{
    display: flex;
    width: 35%;
    justify-content: space-evenly;
    align-items: center;
}

.conainer-product{
    border: 1px solid #dadada;
    border-radius: 6px;
}
.conainer-product{
    display: grid;
    grid-template-columns: 45% 25% 25%;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
    width: 40%;

}
.product-bag{
    display: flex;
    margin-left: 10px;
   
}
.img-bag{
    width: 100px;
   margin-right: 20px
}
.name-product{
    font-size:20px ;
    font-weight: 500 ;
}
.bag-button-wp{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.bag-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bag-button{
    width: 35px;
    height: 35px;
    
}